server:
  addr: ":8080"
logger:
  level: debug
postgres:
  max_open_conns: 5
  max_idle_conns: 3
  conn_max_lifetime: 10s
  port: 5433
  master_dsn: "postgres://user:password@host/dbname?sslmode=disable"
  slave_dsn: []
jwt:
  secret_key: "secret_key"
  ttl: 24h